<a class="logo" href="#/">
    <img src="/assets/logo.png" />
    <div>Happy Farmer You!</div>
</a>
<form>
    <input
        type="button"
        data-provider="facebook"
        value="Login with Facebook"
        class="login-btn login-btn-facebook" />
</form>
